/* initial stylings start */
:root, * {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    background-color: #F4F4F4;
}
/* initial stylings end */
/* ---------------------------------------------------------------------------------------------------------- */
/* header start */

#header {
    position: absolute;
    z-index: 0;
    padding-top: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 10% 10% 15%;
    color: #f4f4f4;
}

#name-icon {
    color: #F4F4F4;
    font-size: 70px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#header-button-list {
    margin-left: 4px;
    position: fixed;
    top: 80px;
    z-index: -1;
}

.head-button {
    color: #F4F4F4;
}

.head-button:hover {
    color: #ffe66d;
    cursor: pointer;
}

.string-pad {
    margin-bottom: 10px;
}
/* header end */
/* ---------------------------------------------------------------------------------------------------------- */
/* background triangle start */

#back-cont {
    z-index: -1;
    height: 100vh;
    background-color: #F4F4F4;
    background-image: linear-gradient(to bottom right, #2f3441 49.95%, #F4F4F4 50%);
}
/* background triangle end */
/* ---------------------------------------------------------------------------------------------------------- */
/* profile start */

#about-me {
    width: 1000px;
    margin-left: 50px;
    margin-right: 50px;
}

#its-me {
    position: absolute;
    top: 25vh;
    left: 150px;
    z-index: 1;
    color: #3a86ff;
    font-size: calc(18vw - 50px);
    font-weight: heavy;
}

#the-arrow {
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 90%;
}

#contact-cont {
    margin-top: 30px;
    margin-bottom: 70px;
}

#contact-bar {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    font-size: 30px;
}

#contact-bar1 {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    font-size: 20px;
}

.contact-div {
    transform: translate(35%, 0);
}

.contact-div1 {
    text-align: center;
    transform: translate(-10%, 0);
}

#h3-about {
    font-size: 40px;
}

.time-head {
    font-weight: bold;
}

#exp-ed {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(2, 550px);
    row-gap: 30px;
}

.contact-icon {
    height: 50px;
}
/* end profile */
/* ---------------------------------------------------------------------------------------------------------- */
/* links */

#link-cont {
    background-color: rgb(230, 242, 253);
    border: 3px solid rgb(85, 127, 190);
    margin-right: 10px;
    width: 500px;
    margin-left: 40px;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    padding: 5px;
    margin-bottom: 50px;
    color: #2f3441;
}

a:hover {
    color: white;
    background-color: #2f3441;
}

.div-link {
    color: #2f3441;
    width: max-content;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.div-link:hover {
    color: white;
    background-color: #2f3441;
    cursor: pointer;
}
/* links end */
/* ---------------------------------------------------------------------------------------------------------- */
/* general stying classes start */

.col-space {
    margin-right: 30px;
}

.tab-right {
    margin-left: 50px;
}

.inline {
    display: inline;
}

.heavy {
    font-weight: bold;
}

.little-big {
    font-size: 20px;
}

h3, h5 {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 5px;
}
/* general styling classes end */
/* ---------------------------------------------------------------------------------------------------------- */
/* main storage container start */

#basin {
    padding-bottom: 30px;
    z-index: 1;
    position: absolute;
}

#activity-split {
    display: grid;
    grid-template-columns: auto auto;
}

.act-desc {
    margin-left: 40px;
    margin-right: 20px;
}

.flip {
    display: grid;
    grid-template-columns: 60% 30%;
}

#code-div {
    transform: translate(550px, 0);
}
/* main storage container end */
/* ---------------------------------------------------------------------------------------------------------- */
/* footer start */

#name-tag {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
/* footer end */
/* ---------------------------------------------------------------------------------------------------------- */
/* start media queries */
@media screen and (max-width: 1100px) {
    #about-me {
        width: 80%;
    }
    #its-me {
        top: 20vh;
        font-size: calc(18vw - 30px);
    }
    #contact-bar {
        grid-template-columns: repeat(3, 32%);
        font-size: 2vw;
    }
    #contact-bar1 {
        grid-template-columns: repeat(3, 32%);
        font-size: calc(10px + 0.8vw);
    }
    #exp-ed {
        grid-template-columns: repeat(2, 60%);
    }
    .flip {
        display: block;
    }
    #code-div {
        display: block;
        transform: translate(0, 0);
    }
    #basin {
        display: block;
        position: relative;
    }
}
@media screen and (max-width: 850px) {
    .contact-div1 {
        text-align: left;
        margin-left: 25px;
        margin-bottom: 34px;
    }
    #contact-bar {
        display: block;
        font-size: 3vw;
    }
    #contact-bar1 {
        display: inline-block;
        font-size: calc(10px + 0.8vw);
    }
    #contact-cont {
        display: grid;
        grid-template-columns: 10% 60%;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    #exp-ed {
        display: block;
    }
    .col-space {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    #link-cont {
        width: 400px;
        position: relative;
        right: 8px;
    }
    #link-cont {
        width: 87%;
    }
}