html, body, * {
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.row {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.myName {
    font-size: 30px;
    transform: translate(0, -3px);    
}

img {
    width: 240px;
    height: auto;
    float: left;
}

.nav {
    background-color: teal;
    width: 100%;
    height: 40px;
    color: white;
    margin: 0;
}

.head {
    font-size: 20px;
    transform: translate(0, 2px);
}

.text-pad {
    text-align: left;
}

.body-cont {
    border: 1px solid #160F29;
    padding: 10px;
    background-color: #FFFAF0;
    min-height: 400px;
    width: 100%;
    max-width: 600px;
    margin-left: 10px;
    margin-right: 10px;
}

.body-head {
    font-size: 30px;
    color: teal;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2A333D;
    color: white;
    text-align: center;
    height: 40px;
}

#foot {
    padding-top: 10px;
}

.links {
    text-align: end;
}

@media only screen and (max-width: 576px) {
    .body-cont {
        width: 85%;
        margin-bottom: 50px;
    }
    img {
        width: 100%;
    }
    body {
        margin-bottom: 30px;
    }
    .nav {
        color: black;
        height: 45px;
    }
    .links,
    .myName {
        text-align: center;
    }
    a {
        color: black;
    }    
    a:hover {
        color: black;
    }
    .links {
        transform: translate(0, 0px);
    }
    .myName {
        transform: translate(0, -3px);
        font-size: 40px;
    }
}