* {
    margin: 0;
    padding: 0;
    border: 0;
}

.btn1 {
    display: block;
}

#score-form {
    display: none;
}

#load-start,
#timer {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 10px;
    grid-gap: 10px;
}

li {
    text-align: left;
}

.main-cont {
    margin-top: 10px;
    margin-left: 20px;
}

body {
    background-color: #4F5D75;
    color: #FFFFFF;
}

button {
    height: 40px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #DEC4A1;
    color: #2D3142;
    margin-bottom: 5px;
}

#title {
    width: 50%;
}

#hone {
    color: #EF8354;
    font-size: 50px;
}

#divy {
    font-size: 40px;
    padding-bottom: 10px;
}

#header {
    font-size: 20px;
    color: #EF8354;
}

#final-score {
    color: #EF8354;
    font-size: 30px;
    padding-bottom: 10px;
}

#score-form {
    font-size: 20px;
}

input {
    padding-left: 10px;
    border-radius: 5px;
    height: 30px;
    background-color: #2D3142;
    color: #FFFFFF;
}

@media only screen and (max-width: 808px) {
    button {
        width: max-content;
    }
    #divy {
        width: 90%;
        font-size: 30px;
    }
    #expl {
        width: 260px;
    }
    .btn1 {
        width: 90%;
        font-size: 20px;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #title {
        width: 90%;
    }
    #hone {
        font-size: 25px;
    }
}